<ion-content class="ion-padding" fullscreen="true">
  <div class="login-container">
    <h1>Welcome Back</h1>
    <p>Login to continue</p>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password"></ion-input>
      <ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePassword()"></ion-icon>
    </ion-item>

    <ion-button expand="full" (click)="login()">Login</ion-button>
    <ion-text color="primary" class="forgot-password" (click)="forgotPassword()">Forgot Password?</ion-text>

    <div class="signup-link">
      <p>Don't have an account? <a (click)="navigateToSignup($event)">Sign Up</a></p>
    </div>
  </div>
</ion-content>
