<ion-header>
  <ion-toolbar>
    <ion-title>Create Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="shopForm" (ngSubmit)="createShop()">
    <ion-item>
      <ion-label position="floating">Shop Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-textarea formControlName="address"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input formControlName="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input formControlName="location" readonly></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="detectLocation()" type="button">
      Detect My Location
    </ion-button>

    <div #map id="map"></div>

    <ion-button expand="full" type="submit" [disabled]="shopForm.invalid">
      Create Shop
    </ion-button>
  </form>
</ion-content>
