ion-content {
    --background: var(--ion-color-light);
  }
  
  ion-item {
    --background: white;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  